<!DOCTYPE html>
<html>
  <head>
    <title>DummyRails</title>
    <!-- dependent script -->
    <%=raw Daru::View.dependent_script(:nyaplot) %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
