<!DOCTYPE html>
<html>
  <head>
    <title>Google Charts</title>
    <!-- dependent script -->
    <%=raw Daru::View.dependent_script(:googlecharts) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
