<!DOCTYPE html>
<html>
  <head>
    <title>Highcharts</title>
    <!-- dependent script -->
    <%=raw Daru::View.dependent_script(:highcharts) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
