<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
  </head>
  <body>
    <p>

      go to <a href=" http://localhost:3000/nyaplot">  http://localhost:3000/nyaplot</a> , to see the Nyaplot examples
    </p>

    <p>

      go to <a href="http://localhost:3000/highcharts">http://localhost:3000/highcharts</a> , to see the highcharts examples
    </p>

    <p>

      go to <a href="http://localhost:3000/googlecharts">http://localhost:3000/googlecharts</a> , to see the googlcharts examples
    </p>
    <p>

      go to <a href="http://localhost:3000/datatables">http://localhost:3000/datatables</a> , to see the datatables examples
    </p>
    <p>

      go to <a href="http://localhost:3000/multiplecharts">http://localhost:3000/multiplecharts</a> , to see the multiple Charts examples using PlotList
    </p>
    <p>

      go to <a href="http://localhost:3000/highchartstockmap">http://localhost:3000/highchartstockmap</a> , to see the highcharts, highstock and highmap examples
    </p>
    <p>

      go to <a href="http://localhost:3000/highchartscss">http://localhost:3000/highchartscss</a> , to see the highcharts examples with CSS styling
    </p>
    <p>

      go to <a href="http://localhost:3000/handlingevents">http://localhost:3000/handlingevents</a> , to see the event handling examples in googlecharts
    </p>
    <p>

      go to <a href="http://localhost:3000/chartwrapper">http://localhost:3000/chartwrapper</a> , to see the Chartwrapper examples
    </p>
    <p>

      go to <a href="http://localhost:3000/charteditor">http://localhost:3000/charteditor</a> , to see the charteditor examples
    </p>
    <p>

      go to <a href="http://localhost:3000/formatters">http://localhost:3000/formatters</a> , to see the formatters examples in google datatables
    </p>
  </body>
</html>