

<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>


  </head>
  <body>
    <p>

      go to <a href=" http://localhost:4567/nyaplot">  http://localhost:4567/nyaplot</a> , to see the Nyaplot examples
    </p>

    <p>

      go to <a href="http://localhost:4567/highcharts">http://localhost:4567/highcharts</a> , to see the highcharts examples
    </p>

    <p>

      go to <a href="http://localhost:4567/googlecharts">http://localhost:4567/googlecharts</a> , to see the googlcharts examples
    </p>
    <p>

      go to <a href="http://localhost:4567/datatables">http://localhost:4567/datatables</a> , to see the datatables examples
    </p>
    <p>

      go to <a href="http://localhost:4567/multiplecharts">http://localhost:4567/multiplecharts</a> , to see the multiple Charts examples using PlotList
    </p>
    <p>

      go to <a href="http://localhost:4567/highchartstockmap">http://localhost:4567/highchartstockmap</a> , to see the highcharts, highstock and highmap examples
    </p>
    <p>

      go to <a href="http://localhost:4567/highchartscss">http://localhost:4567/highchartscss</a> , to see the highcharts examples with CSS styling
    </p>
    <p>

      go to <a href="http://localhost:4567/handlingevents">http://localhost:4567/handlingevents</a> , to see the event handling examples in googlecharts
    </p>
    <p>

      go to <a href="http://localhost:4567/chartwrapper">http://localhost:4567/chartwrapper</a> , to see the Chartwrapper examples
    </p>
    <p>

      go to <a href="http://localhost:4567/charteditor">http://localhost:4567/charteditor</a> , to see the charteditor examples
    </p>
    <p>

      go to <a href="http://localhost:4567/formatters">http://localhost:4567/formatters</a> , to see the formatters examples in google datatables
    </p>
  </body>
</html>